<%= form_for(@ironyard) do |f| %>
  <% if @ironyard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ironyard.errors.count, "error") %> prohibited this ironyard from being saved:</h2>

      <ul>
      <% @ironyard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset class='field'>
    <%= f.label :firstname, "First Name: " %><br>
    <%= f.text_field :firstname %><br>
    <%= f.label :lastname, "Last Name: " %><br>
    <%= f.text_field :lastname %><br>
    <%= f.label :age, "Age: " %><br>
    <%= f.text_field :age %><br>
    <%= f.label :location, "Location: " %><br>
    <%= f.text_field :location %><br>
    <%= f.label :instructorsname, "Instructor Name: " %><br>
    <%= f.text_field :instructorsname %><br>
    <%= f.label :course, "Course: " %><br>
    <%= f.text_field :course %><br>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
