<%= form_for(@ironyard) do |f| %>
  <% if @ironyard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ironyard.errors.count, "error") %> prohibited this ironyard from being saved:</h2>

      <ul>
      <% @ironyard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset class='field'>
    <%= f.label :campusname, "Campus Name: " %><br>
    <%= f.text_field :campusname %><br>
    <%= f.label :campuslocation, "Campus Location: " %><br>
    <%= f.text_field :campuslocation %><br>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
