<p id="notice"><%= notice %></p>

<h1>Listing Campuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ironyards.each do |ironyard| %>
      <tr>
        <td><%= ironyard.firstname %></td>
        <td><%= ironyard.lastname %></td>
        <td><%= ironyard.age %></td>
        <td><%= ironyard.location %></td>
        <td><%= link_to 'Show', ironyard %></td>
        <td><%= link_to 'Edit', edit_ironyard_path(ironyard) %></td>
        <td><%= link_to 'Destroy', ironyard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Menu', new_ironyard_path %>
